<div class="container" id="home-container">
  <div class="bg-light p-5 rounded-lg m-3 text-center text-white" id="home-jumbotron">
    <h1 class="display-4">Welcome to AlphaBlog!</h1>
    <p class="lead">This is a simple CRUD Ruby on Rails website, using Bootstrap for styling.</p>
    <hr class="my-4">
    <p>You can create a profile, create articles, view other users, and browse articles.</p>
    <% if logged_in? %>
      <%= link_to "View Articles", articles_path, class: "btn btn-primary btn-lg text-white" %>
    <% else %>
      <%= link_to "Sign Up!", signup_path, class: "btn btn-primary btn-lg text-white" %>
    <% end %>
  </div>
</div>
