@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #2589bd !important;
} 

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

#home-jumbotron {
  background-image: asset-url('jumbotron-background');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

#sticky-footer {
  flex-shrink: none;
}

body {
  margin: 0px !important;
}

#create-edit-form {
  background-color: #cdc6ae;
}